<div style="width: 500px; margin: auto;">
    <div *ngIf="currentUser" class="edit-form">
      <h4>User</h4>
      <form>
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentUser.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="currentUser.email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="description">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            [(ngModel)]="currentUser.phone"
            name="phone"
          />
        </div>
  
      </form>
  
      <button type="button" class="btn btn-danger" (click)="updateUser()" >Update</button>
      <button type="button" class="btn btn-warning" (click)="deleteUser()">Delete</button>

    </div>
  
</div>
